/* .txnform-container {
  background-color: rgb(90, 238, 189);  
  display: block;
  margin: 2rem;
}
.txninput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.userselect {
  margin: 1rem;
  font-size: 1rem;
} */
.userselect {
    margin: 1rem;
    font-size: 1rem;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  .txnform-container {
    background-color: #f5f2ed;  
   border-radius: 12px;
  }
